* {
    margin: 0;
}

.container {
    margin: 100px;
    padding: 50px;
    border: 50px solid;
    box-sizing: border-box;
}
.container1 {
    margin: 100px;
    /* padding: 50px; */
    border: 50px solid;
    box-sizing: border-box;
}